.container
    padding: 0 5vw
    .title
        display: flex
        justify-content: center

    .chart
        margin: 5vw auto

    .footer
        display: flex
        justify-content: flex-end