.container
    padding: 0 5vw
    .title
        display: flex
        justify-content: center

    .chart
        margin: 5vw 0
        height: 60vw
        max-height: 47vh

    .footer
        .coins
            display: flex
            justify-content: center
            img
                width: 200px
        .repositories
            display: flex
            justify-content: flex-end
            align-items: center
            align-self: flex-start
            img
                height: 3rem
                width: auto